{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CDN SCRIPTS CSS go here -->
    <link rel="stylesheet" href="{% static 'styles/styles.css'%}"/>
    <script src="{% static 'scripts/app.js' %}" defer></script>
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <nav>
        <a href="/">Home |</a>
        <a href="/about">About |</a>
        <a href="/birds">Birds |</a>
        <a href="{% url 'bird_create' %}">Add a Bird |</a>
    </nav>
    {% block content %}

    {% endblock %}
</body>
</html>